* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    @include w-h(100%, 100%);
}

.hide {
    display: none;
}

.show-inline {
    display: inline !important;
}

.show-block {
    display: block !important;
}

.show-inline-block {
    display: inline-block !important;
}
